In [1]:
import pandas as pd
import yfinance as yf

In [59]:
companies = pd.read_csv('list-companies.csv')

In [64]:
df = yf.Ticker(companies['ticker'][0]).history(start="2018-01-01", end="2023-12-31")
df['Ticker'] = companies['ticker'][0]
df['CIK'] = companies['CIK'][0]
for i in range(1, len(companies)):
    df2 = yf.Ticker(companies['ticker'][i]).history(start="2018-01-01", end="2023-12-31")
    df2['Ticker'] = companies['ticker'][i]
    df2['CIK'] = companies['CIK'][i]
    df = pd.concat([df, df2])

In [68]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,CIK
Date,,,,,,,,,
2018-01-02 00:00:00-05:00,38.243949,38.373796,37.945302,38.075150,4227200,0.0,0.0,AFL,4977
2018-01-03 00:00:00-05:00,37.971273,38.226635,37.906350,38.187683,3575600,0.0,0.0,AFL,4977
2018-01-04 00:00:00-05:00,38.334840,38.884519,38.287229,38.581547,3323200,0.0,0.0,AFL,4977
2018-01-05 00:00:00-05:00,38.681091,38.845561,38.503633,38.836906,2737800,0.0,0.0,AFL,4977
2018-01-08 00:00:00-05:00,38.897503,38.997049,38.823921,38.936455,2866400,0.0,0.0,AFL,4977
...,...,...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,44.279999,44.779999,43.520000,44.000000,1534500,0.0,0.0,ZION,109380
2023-12-26 00:00:00-05:00,44.099998,45.099998,43.720001,44.880001,1131600,0.0,0.0,ZION,109380
2023-12-27 00:00:00-05:00,44.959999,44.959999,44.299999,44.509998,1345100,0.0,0.0,ZION,109380
2023-12-28 00:00:00-05:00,44.060001,44.700001,44.000000,44.660000,1125900,0.0,0.0,ZION,109380
2023-12-29 00:00:00-05:00,44.650002,44.650002,43.720001,43.869999,1420600,0.0,0.0,ZION,109380

In [70]:


for year in df.index.year.unique():
    a = df[df.index.year == year]
    a.to_csv(f'data/{year}.csv', index=False)